<h1><b>About Page</b></h1>

<p align="center" style="text-decoration-color: wheat;">QUALITY OVER QUANTITY</p>
<h1 align="center"><b>Ability Quiver makes your life easier</b></h1>
<p align="center">It is often time consuming to find perfect talent as per your requirement. It takes money, time and hard work, but also a risk if the<br> candidate is suitable or not. Here comes the role of Ability Quiver.</p>
<div class="container">
  
    <div class="card-deck">
      
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <ol>
              <li><h4><b> Provide actually hirable talent</b></h4>
                  <p>We here provide you a platform to find absolutely suitable candidate for<br> your required job depending upon position, experience, location and skills.<br> We make your job easy by already selecting our candidates through an<br> intensive screening process by professionals .</p>
            </li>
            <li><h4><b>Save your money & time</b></h4>
             <p>Our job is to make sure that you get the most competent and eligible<br> candidates for the job without spending a huge amount on advertising and <br>interviews processes which are not only cumbersome but time consuming.</p>
            </li>
            <li><h4><b>Candidates already assessed by industry experts</b></h4>
             <p>Our process of assessment and screening the individuals provides you not <br>only quality candidates but also provide you a variety of choices to select<br> from a pool of talent which has gone through a series of assessment by our<br> experienced industry experts.</p>
            </li>
          </ol>
        </div>
      </div>
      
      <div class="card" style="width:400px">
        <img class="card-img-top" src="assets/img6.jfif" alt="Card image">
        <div class="card-body">
          
        </div>
      </div> 
    </div>
  </div>